
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

.topQuadrantAbout{
    width: 100vw;
}

.topQuadrantFirstBarAbout {
    background-color: #FFFCCA;
    height: 370px;
}

.topQuadrantSecondBarAbout {
    background-color: #537780;
    height: 370px;
}

.topQuadrantFirstBarAbout .firstBarHalfAbout{
    width: 50vw;
    padding: 50px 72px 25px 80px;
}

.topQuadrantFirstBarAbout .firstBarHalfAbout h4{
    color: #000000;
    font-size: 43px;
}

.topQuadrantFirstBarAbout .firstBarHalfAbout p{
    color: #322F2F;
    font-size: 26px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    margin-top: 20px;
    line-height: 1;
}

.topQuadrantFirstBarAbout .secondBarHalfAbout img{
    width: 50vw;
    height: 370px;
}

.topQuadrantSecondBarAbout .secondBarHalfAbout img{
    width: 50vw;
    height: 370px;
}

.topQuadrantSecondBarAbout .firstBarHalfAbout{
    width: 50vw;
    padding: 80px 72px 25px 80px;
}

.topQuadrantSecondBarAbout .firstBarHalfAbout p {
    color: #F9E0AE;
    font-size: 26px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    margin-top: 20px;
    line-height: 1;
}

.offerStripAbout{
    width: 95%;
    height: 115px;
    margin: 20px auto;
    background-color: #FFC93C;
    padding: 20px;
}

.innerOfferStripAbout{
    border: 2px solid #F2910A;
    padding: 20px 5px 4px 5px;
    margin-left: 15px;
    margin-right: 20px;
    font-family: 'Roboto Condensed', sans-serif;
}

.innerOfferStripAbout h5{
    font-size: 24px;
    color: #7A5656;
    margin-left: 9px;
    margin-right: 20px;
    font-family: 'Roboto Condensed', sans-serif;
}

.innerOfferStripAbout button{
    display: block;
    height: 32px;
    margin-left: 75px;
    margin-top: -4px;
    font-size: 15px;
    padding: 6px 12px 5px;
    background-color: #14C245;
    border: none;
    border-radius: 0;
    box-shadow: 0px 3px 3px #00000045;
    font-family: 'Roboto', sans-serif;
}

.innerOfferStripAbout img{
    width: 15px;
    height: 15px;
    margin-top: 7px;
    margin-left: 9px;
}

.ourFeatuesAboutTagline{
    width: 72%;
    color: #537780;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: 500;
    margin: 50px auto;
}

.ourFeatuesAbout {
    width: 100vw;
    padding: 15px 95px;
}


.ourFeatuesAboutFirstBar .secondBarHalfFeaturesAbout img{
    width: 50vw;
    height: 375px;
    padding-left: 30px;
}

.ourFeatuesAboutFirstBar .firstBarHalfFeaturesAbout{
    width: 50vw;
}

.ourFeatuesAboutFirstBar .firstBarHalfFeaturesAbout h3{
    font-size: 43px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.ourFeatuesAboutFirstBar .firstBarHalfFeaturesAbout p{
    color: #000000a9;
    font-size: 26px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    margin-top: 20px;
    line-height: 1;
}

.firstCapitalFeatureAbout {
    font-size: 70px;
}

.readMoreButton{
    background-color: #11D3BC;
    border:2px solid #13AE9C;
    border-radius: 0;
    padding: 12px 15px;
    width: 170px;
    margin-top: 20px;
}

.ourFeatuesAboutSecondBar {
    margin-top: 40px;
}


.ourFeatuesAboutSecondBar .secondBarHalfFeaturesAbout img{
    width: 50vw;
    height: 375px;
    padding-right: 30px;
}

.ourFeatuesAboutSecondBar .firstBarHalfFeaturesAbout{
    width: 50vw;
}


.ourFeatuesAboutSecondBar .firstBarHalfFeaturesAbout p{
    color: #000000a9;
    font-size: 26px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    margin-top: 20px;
    line-height: 1;
}


.ourFeatuesAboutSecondBar .firstBarHalfFeaturesAbout h3{
    font-size: 43px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

#ourFeatuesAboutThirdBar{
    margin-top: 40px;
}

#ourFeatuesAboutFourthBar{
    margin-bottom: 40px;
}