@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;1,400&display=swap');

.patternLogoContainerImages{
    width: 45%;
    height: 250px;
    margin: 0px auto 20px;
}

.patternLogoContainerImages div{
    margin-left: 100px;

}

#icPattern{
    width: 195px;
    height: 250px;
}

#icAstiea{
    height: 150px;
    width: 243px;
}

.fromText{
    margin: 35px auto 0px;
    font-size: 34px;
}

.bottomRectangle{

    background-color: #FFD700;
    padding: 20px 0% 20px 8%;
}

.bottomRectangleFirstColumn{
    padding-top: 15px;
    background-color: red;
}
.bottomRectanglefirstColumn p{

    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    color: #000000b0;
}

.bottomRectangleSecondColumn{
text-align: center;
padding-top: 25px;
}

.bottomRectangleSecondColumn img{
    width: 40px;
    margin-left: 25px;
}

.bottomRectangleSecondColumn p,.followText{
    font-weight: 500;
    color: #000000b0;
}

.bottomRectangleThirdColumn{
    padding-top: 45px;
    margin-left: 40px;
}

.bottomRectangleThirdColumn li {
    display: inline;
    margin: 0px 8px;
    font-weight: 500;
    color: #000000b0;
}


@media (max-width: 1279.98px){
    
}

@media (max-width: 991.98px){
   
}

@media (max-width: 767.98px){
    
}

@media (max-width: 575.98px){

    .patternLogoContainerImages {
        margin: 40px 20px 40px 40px;
        height: auto;
    }
    
    .bottomRectangle {
        display: flex;
        flex-direction: column;
    }

    .bottomRectanglefirstColumn {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .bottomRectangleSecondColumn { 
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .bottomRectanglefirstColumn button{ 
        width: 40vw;
        font-size: 20px;
    }

    #icPattern {
        width: 135px;
        height: 170px;
    }
    .patternLogoContainerImages div {
        margin-left: 40px;
    }

    .fromText {
        margin: 0px auto 0px;
        font-size: 30px;
    }
    #icAstiea {
        height: 130px;
        width: 223px;
    }

    .bottomRectanglefirstColumn button{
        height: 50px;
        font-size: 20px;
    }
    .bottomRectangleThirdColumn{
        width: 100%;
        margin-left: 0px;
    }
    .telephoneNumberContainerFooter{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: space-evenly;
    }
    .telephoneNumberContainerFooter p{
        display: inline-block;
     }
    
}