.headerStrip {
    background : #FF4646;
    color: #ffffff;
}

.headerStrip img{
    width: 14px;
}

nav{
    background-color: #ffffff;
}
.navbar-nav{
    margin-left: auto;
}
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: #E57200;
    font-weight: 500;
}

.navbar-light .navbar-nav .nav-link {
    color: #000000;
    font-weight: 400;
}

.navbar-nav button {
    margin-left: 15px;
    margin-right: 15px;
}
.navBarCompanyLogo{

    width: 237px;
    height: 110px;
}

.getEstimateButton{

    background-color: #FF7F00;
    border:1px solid #E57200;
    border-radius: 0;
    padding: 12px 15px;
}