
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

.row {
    height: 350px;
}

.firstBar .firstHalf {
    background-color:#F9E0AE;

}

.firstBar .firstHalf h4{
     font-size: 34px;
     margin-top: 50px;
}
.firstBar .firstHalf span{
     font-size: 30px;
     margin-left: 170px;
     margin-top: 50px;
}

.secondBar .firstHalf {
    background-color:#FC8621;
}


.firstBar .firstHalf img{
    position: absolute;
    top:125px;
    left: 415px;
    width: 108px;
}

.firstBar .secondHalf  img{
    width: 50vw;
    height: 350px;
}


.secondBar .secondHalf  img{
    width: 50vw;
    height: 350px;
}


.secondBar .firstHalf img{
    position: absolute;
    top:145px;
    left: 415px;
    width: 88px;
}


.secondBar .firstHalf h4{
    font-size: 34px;
    margin-top: 50px;
}


.secondBar .firstHalf span{
    font-size: 30px;
    margin-left: 170px;
    margin-top: 50px;
}

hr{
    width: 100vw;
    border: 2px solid #C24914;
    opacity: 1;
}

.whyToChooseContainer .tagLine{
color:#FF4646;
font-size: 64px;
font-style: italic;
}

.whyToChooseContainer img {
    
    width: 294px;
    height: 131px;
}

.whyToChooseContent{
    padding: 0px 5%;
}

.whyToChooseContent h4{
    top: 0px; 
    left: 390px;
}
.whyToChooseContent p{
    top: 40px; 
    left: 390px;
    font-size: 20px;
}

.whyToChooseContent button{
    bottom: 4px; 
    left: 390px;
}

.firstColumn div{
    background-color:aqua;
    margin: 50px 10px;
    height: 275px;
}

.firstColumn div img {
    height: 275px;
}

.seondColumn div{
    background-color:aqua;
    margin: 50px 10px;
    height: 600px;
}

.seondColumn div img{
    height: 340px;
}

.customerExperienceContainer{
    width: 90%;
    margin: 40px auto;
}

.customerExperienceList{
    display: flex;
    margin-top: 40px;
    justify-content: space-between;
}

.customerExperienceList div{
    background-color: #F9E0AE;
    width: 48%;
    height: 220px;
    padding: 25px;
}

.customerExperienceList img{

    width: 120px;
    border: 2px solid #F3D361;
}

.testimonialLine{
    border: 2px solid #F3D361 !important;
    width: 75px;
}

#viewAllTestimonialsButton{
    display: block;
    margin-left: auto;
    margin-top: 15px;
    padding-left: 30px;
    padding-right: 30px;
}

.carousel-indicators{
    left: 10% ;
    right: 36%;
}

.carousel-indicators li {
    width: 13px;
    height: 13px;
    border-radius: 100%;
    opacity: 1;
    border: 4px solid #ffffff;
    background-color: #ffffff00;
    margin: 0px 20px 60px;
  }

.carousel-indicators .active{

    border: 4px solid orange;
    background-color: #FFD700;
}  

.blackOverlayCarousel{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color:#00000070;
    top: 0;
}

.carousel-caption{
    margin-bottom: 150px;
    left: 10% ;
    right: 36%;
}
.carousel-caption h5{
    font-size: 44px;
    text-shadow: 2px 4px #00000073;
}

.carousel-control-prev, .carousel-control-next{
    width: 6%;
    opacity: 1;
}

.prevIconContainer{
    background-color:#FFD700;
    width: 80px;
    height: 50px;
    z-index: -1;
}
.offerBoardCarousel{
    width: 270px;
    height: 290px;
    background-color: #E3D766;
    position:absolute;
    z-index: 100;
    top:50px;
    right: 10%;
}

.innerBoxofferBoardCarousel{
    width: 86%;
    height: 86%;
    margin-top: 7%;
    margin-left: 7%;
    border: 2px solid #B88A8A;
}

.innerBoxofferBoardCarousel h5{
    font-size: 21px;
    margin-left: 8%;
    margin-top: 10%;
    color: #7A5656;
    font-family: 'Roboto Condensed', sans-serif;
}

.innerBoxofferBoardCarousel button{
    display: block;
    position: absolute;
    right: 10%;
    bottom: 11%;
    height: 29px;
    font-size: 14px;
    padding: 2px 12px 5px;
    background-color: #14C245;
    border: none;
    border-radius: 0;
    box-shadow: 0px 3px 3px #00000045;
    font-family: 'Roboto', sans-serif;
}